<nav>
  <div class="nav-wrapper">
    <a routerLink="" href="#" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="login">Login</a></li>
      <!-- Definindo um query params através do property binding queryParams -->
      <li routerLinkActive="active">
        <a routerLink="cursos" [queryParams]="{ pagina: 1 }">Cursos</a>
      </li>
      <li routerLinkActive="active">
        <!-- Definindo uma rota mais complexa, que tem filhos -->
        <a [routerLink]="['curso', idCurso.value]">Curso com Id</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <p>Insira um Id:</p>
  <input #idCurso />
  <router-outlet></router-outlet>
</div>
